header{
	padding-top: 20%;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}
.breadcrumb{
	text-align: center;
	background: none;
	width: 60%;
	margin: 0 auto;
}
.layui-progress,.layui-form-item{
	width: 60%;
	margin: auto;
}
a{
	text-decoration: none !important;
	color:white !important;
}
